.stats{
display:flex;
justify-content:space-around;
margin-top:40px;
}

input,textarea{
width:100%;
padding:10px;
margin:10px 0;
border-radius:8px;
border:1px solid #ccc;
}

button{
background:#ff385c;
color:white;
border:none;
padding:10px;
border-radius:8px;
cursor:pointer;
}
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:25px;
}

.card{
  background:#fff;
  border-radius:16px;
  overflow:hidden;
  box-shadow:0 4px 20px rgba(0,0,0,0.08);
  transition:0.3s;
  cursor:pointer;
}

.card:hover{
  transform:scale(1.03);
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.card-body{
  padding:15px;
}

.card-body h3{
  margin-bottom:5px;
}

.price{
  color:#ff385c;
  font-weight:600;
}